 .serv-section {
    padding: 0 10rem;
    background-color: #000;
    margin-top: -1px;
    padding-bottom: 100px;
    outline: 1px solid #000; 
    box-sizing: border-box;
  }
   
  .el-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .element {
    position: relative;
    width: 380px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 5rem;
  }

  .one {
    background-image: url("https://images.unsplash.com/photo-1509440159596-0249088772ff?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
  }

  .two {
    background-image: url("https://images.unsplash.com/photo-1608198093002-ad4e005484ec?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
  }

  .three {
    background-image: url("https://plus.unsplash.com/premium_photo-1700767185782-47a987a495df?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
  }
  
  .element::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: var(--clr-primary-10);
    border-radius: 20px;
    opacity: .6;
  }
  
  .el-title{
    color: white;
    font-size: 3rem;
    font-weight: 300;
    position: absolute;
    line-height: 2.6rem;
    top:65%;
    left: 10%;
  }
  
  .el-title:hover{
    transform: scale(1.1);
    transition: var(--mainTransition);
  }

  @media screen and (max-width:1100px) {
    
    .serv-section {
    padding: 0 2rem; 
    margin-top: -1px;
    }

    .el-section{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .el-title{
      color: white;
      font-size: 2.5rem;
      position: absolute;
      line-height: 2rem;
      top:55%;
      left: 10%;
    }

    .element {
      width: 350px;
      height: 250px;
       margin: 10px;
    }
  }
  
 @media screen and (max-width:930px) {

 .serv-section {
    padding: 0 2rem; 
   }

    .el-title{
      font-size: 2rem;
    }

    .element {
      width: 300px;
      height: 200px;
    }
  }

  @media screen and (max-width:780px) {

    .el-title{
      font-size: 2rem;
    }

    .element {
      width: 300px;
      height: 200px;
    }

     .serv-section {
    padding-top: 20px;
    padding-bottom: 40px; 
    margin-bottom: -1px;
  }
  }

  @media screen and (max-width:360px) {

    .el-title{
      font-size: 1.5rem;
    }

    .element {
      width: 200px;
      height: 140px;
    }
  }
  