.serv-title {
    color: var(--clr-white);
    text-align: center;
    font-weight: 350px;
    padding: 5rem 0;
    position: relative;
  }

  .serve-section {
    padding: 0 10rem;
    background-color: #000;
    width: 100%;
    height: 80vh;
  }

  .serve-section h1 {
    display: flex;
    align-items: center;
    justify-content: center;  
  }

  .story {
    color: rgb(243, 174, 26);
    margin-top: -2rem;
    margin-bottom: 1rem;
    line-height:28px;
  }

  .my-text-color{
    color: beige;
     font-weight: bold;
  }

  .eat {
    color:rgb(248, 238, 238);
    font-size: 21px;
  }

  .quo {
    font-size: 4.5rem;
    color: var(--clr-primary-5); 
    margin-left: 4px;  
  }

  @media screen and (max-width:1084px) {

    .serve-section {
      padding: 4rem; 
      background: #000;
      height: auto !important;
    }

    .serv-title {
      font-size: 38px;
      padding-left: 5rem;
    }
  }

  @media screen and (max-width:780px) {

    .serve-section {
      padding: 4rem; 
      background: #000;
    }

    .serv-title {
      font-size: 28px;
      padding-left: 3rem;
    }

    .eat {
    font-size: 19px;
  }
  }

  @media screen and (max-width:650px) {

    .serve-section {
      padding: 2rem; 
      background: #000;
    }

    .serv-title {
      font-size: 24px;
      padding-left: 2rem;
    }

      .eat {
    font-size: 17px;
  }
  }

  @media screen and (max-width:500px) {

    .serve-section {
      padding: 0 1rem; 
      height: auto;
      background: #000;
       overflow: hidden;
    }

    .serv-title {
      font-size: 21px;
      padding-left: 3rem;
    }

      .eat {
    font-size: 17px;
  }
  
  .story {
    font-size: 14px;
  }
  }

