.hero {
    display: flex;
    padding-top: 13rem;
    padding-left: 10rem;
    background-image: url('../assets/05.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }

  .container {
    position: relative;
  }

  .container h1{
    color: var(--clr-white);
    font-size: 4rem;
    line-height: 1.3;
    margin: 100px 0 20px;
    font-weight: 600;
    text-transform: var(--text-transform);
    letter-spacing: var(--spacing);
  }

  .hero-link {
    display: flex;
    margin-top: 2rem;
  }
  
  .hero-link .explore {
    margin-right: 20px;
    padding: 12px 60px;
    border: 2px solid var(--clr-primary-5);
    border-radius: var(--radius);
    color: var(--clr-white);
    font-weight: 600;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    font-size: 18px;
  }
  
  .hero-link .explore:hover{
    background-color: var(--clr-white);
    border: none;
    color:var(--clr-primary-5);
    border: 2px solid var(--clr-white);
  }
  
  a {
    text-decoration: none;
  }
  
  @media screen and (max-width: 1120px) {

    .hero{
      padding-top: 9rem;
      padding-left: 3rem;
      background-position: center;
      height: 80vh;
    }

    .container h1 {
      font-size: 3.5rem;
    }
  }

  @media screen and (max-width: 768px) {

    .hero{
      padding-top: 7rem;
      padding-left: 4rem;
      height: 80vh; 
      background-position: center;
    }

    .container h1 {
      font-size: 2.8rem;
    }

    .link .explore{
      padding: 10px 20px;  
    }
  }
    
  @media screen and (max-width: 480px) {

    .hero{
      padding: 6rem 2rem 0 5rem;
    }

    .container h1 {
      font-size: 2.8rem;
    }

    .hero-link .explore {
      padding: 10px 50px;
    }
  }
  
  @media screen and (max-width: 380px) {
    
    .hero{
   padding: 5rem 2rem 0 5rem;
    }

    .container h1 {
      font-size: 2rem;
    }

    .hero-link .explore {
      padding: 8px 20px;
    }
  }

 

  

    
  
  
