.slider-main {
  background-color: #000;
  height: 60vh;
  margin-bottom: -1px;
}

  .slider {
    margin: 0 auto;
    width: 50%;
    height: 450px;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--clr-white);
  }

  .fact {
    font-weight: 400;
    color: var(--clr-white);
    font-size: 2rem;
    margin-top: 60px;
  }
  
  .br-icon {
    font-size: 5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: var(--clr-primary-5);
  }

 .prev,
 .next {
  position: absolute;
  bottom: 400px;
  margin:-90px -150px;
  transform: translateY(-50%);
  background: transparent;
  color: var(--clr-primary-5);
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 3rem;
  cursor: pointer;
  transition: var(--transition);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.facts {
    color:orange;
    margin: 0 auto;
    width: 80%;
    height: 200px;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .our-bread {
    color: rgb(255, 142, 5);
  }

@media screen and (max-width: 1028px) {

  .slider {
    width: 60%;
  }

  .fact {
    font-size: 1.7rem;   
  }

  .slider-main {
  background-color: #000;
  margin-top: -1px;
  margin-bottom: -1px;
}

.br-icon {
  margin-top: 20px;
  }
}

@media (max-width: 768px) {

  .slider {
    width: 50%;  
  }

  .fact {
    font-size: 1.2rem; 
    margin-top: 80px; 
  }

  .prev,
  .next {
    bottom: 200px; 
    font-size: 2rem; 
    margin: 100px -100px; 
  }
}

@media screen and (max-width: 500px) {
  
  .slider {
    padding: 0;
    height: 250px;
    width: 50%;
  }

 .slider-main {
  background-color: #000;
  margin-top: -1px;
  margin-bottom: -1px;
 }

  .br-icon {
    font-size: 4rem;
  }

 .fact {
    font-size: 1.1rem; 
    margin-top: 50px; 
  }

  .prev,
  .next {
    font-size: 2rem;
    bottom: 200px;
    margin: -55px -80px; 
  }

   .our-bread {
    font-size: 32px;
  }
}

