:root {
  --clr-primary-5: #ffa600;
  --clr-primary-10: #301202;
  --clr-white: #fff;
  --clr-black: #644904;
  --transition: all 0.3s linear;
  --transform: scale(1.1);
  --text-transform: capitalize;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1400px;
  --fixed-width: 1200px;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;

}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.9rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-black);
  font-size: 1.8rem;
}

.flex-cont {
  display: flex; 
  align-items: center; 
  gap: 17px;
  margin-bottom: 38px;
}

.about-image {
    max-width: 210px;
}

.par-about {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    color: #333;
    background-color: #fff; 
    margin-bottom: 20px;
    margin-top: 8px;  
}

.about-section {
  padding: 10rem;
}

.about-title {
  color:#ff7700;
  margin-bottom: 3rem;
  text-align: center;
}

p{
  font-size: 1.2rem;
}

@media (max-width: 768px) {

  .flex-cont {
    flex-direction: column; 
    align-items: center; 
  }

  .about-image {
    max-width: 100%; 
  }

    .about-image:first-child {
        display: none;
  }

  .about-section {
    padding: 4rem; 
  }

  .par-about {
    font-size: 0.8rem; 
  }

  p {
    font-size: 0.8rem; 
  }

  .about-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size:1.5rem;
}
}

.blog-main {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 2rem auto;
}

.one-blog {
  background: var(--clr-white);
  border-radius: var(--radius);
  margin: 2rem 0;
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
  padding: 2rem;
}

.one-blog:hover {
  box-shadow: var(--light-shadow);
}

.one-blog img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.blog-info {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.link {
  text-decoration: none;
  padding: 20px;
  color: black;
  font-size: 30px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.subtitle {
  margin: 2rem 0;
  text-align: center;
  color:rgb(255, 111, 0);
}

.btn {
  border-radius: var(--radius);
  text-transform: capitalize;
  color:rgb(255, 98, 0);
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
}

.delete-btn{
  display: block;
  width: 200px;
  margin: 2rem auto;
  color:orangered;
  letter-spacing: var(--spacing);
  background: transparent;
  border: 1px solid;
  border-color: orangered;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  transition: var(--transition);
}

.delete-btn:hover{
  background: var(--clr-primary-5);
  color: var(--clr-white);
}

.center {
  margin-top: 3rem;
  text-align: center;
}
.reload {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-reload{
  display: block;
  width: 300px;
  margin: 2rem auto;
  color: var(--clr-primary-5);
  letter-spacing: var(--spacing);
  background: transparent;
  border: 2px solid var(--clr-primary-5);
  padding: 0.5rem;
  border-radius: var(--radius);
  transition: var(--transition);
}

.btn-reload:hover{
  background: var(--clr-primary-5);
  color: var(--clr-white);
}

@media screen and (max-width:500px) {

  .title h1{
    font-size: 2rem;
    text-align: center;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .blog-info {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 0.8rem;
  }
}

.types {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: var(--max-width);
  margin: 0 auto;
}

.bread-card {
  width: 460px;
  margin-top: 3rem;
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}

.bread-card:hover{
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.types-title {
  margin-top: 10rem;
  text-align: center;
  color: #6a3602;
  }

.type-subtitle {
  margin: 1rem 0;
}

.type-text {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: var(--spacing)
}

.type-img{
  width: 420px;
  border-radius: var(--radius);
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 700px;
  margin: 3rem auto;
}

.change {
  padding: 10px 30px;
  background:rgb(255, 98, 0);
  border: none;
  color: var(--clr-white);
  font-size: 1.1rem;
  font-weight: 500;
}

.change:hover{
  background: var(--clr-white);
  color: orangered;
  transition: var(--transition);
}

@media screen and (max-width: 1260px) {

  .types {
    width: 500px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 850px) {

  .types-title {
    font-size: 2rem;
    margin: 8rem auto 2rem;
    }

    .btn-container {
      width: 400px;
      flex-direction: column;
      margin: 2rem auto;
    }

    .change {
      padding: 10px 30px;
      margin: 0.3rem;
    }
}

@media screen and (max-width: 500px) {

  .types {
    width: 350px;
  }

    .btn-container {
      width: 350px;
      flex-direction: column;
    }

    .bread-card {
      width: 350px;
    }

    .type-img{
      width: 300px;
      border-radius: var(--radius);
    }

    .type-subtitle {
      font-size: 1.5rem;
    }

    .type-text {
      font-size: 0.8rem;
      line-height: 1.2rem;
    }
  }

video {
  object-fit: cover;
  width: 100vw;
  height: 80vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 1200px) {
  
  video {
    height: 50vh; 
    width: 100%;
    margin-bottom: -1px;
}
}